.maincontainer{
    height: 100vh;
    width: 100vw;
background-color: #a7bcff;
    display: flex;
}
.leftcontainer{
    width: 450px;
    background-color: #3e3c61;
    margin: 30px;
    color: lightgray;
    margin-top: 30px;
    overflow-y: scroll;
    height: 688px;
    border: 0.5px solid white;
}
.input{
    width: 300px;
    height: 30px;
    margin-left: 25px;
    margin-top: 12px;
    background-color: lightgray;
}
.searchbutton{
    display: flex;
    justify-content: space-between;
    width: 430px;
    height:62px;
    background-color: #2f2d52;
    position: absolute;
}
.button{
    height: 30px;
    width: 60px;
    margin-top: 13px;
    margin-right: 10px;
    background-color:#5d5b8d ;
    color: lightgray;
    border-radius: 10px;
    border: none;
}
.button:hover {
    background-color: #2f2d52;
    color: white;
    border:1px solid white;
}
.search{
    margin: 10px;
    background-color: white;
}
.rightcontainer{
    margin: 1px;
    height: 575px;
    border: 0.5px solid black;
    overflow-y: scroll;
    background-color: #ddddf7;
}
.horizontall{
    background: whitesmoke;
    height: "0px";
    border: "none";
}
.leftsmallcontainer{
   height: 70px;
   display: flex;
}
.leftsmallcontainer:hover{
background-color: #2f2d52;
}
.display{
    display: flex;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 10px;
    border: 1px solid white;
}
.name{
    margin: 20px;
    font-size: 18px;
}
.rightinput{
    height: 30px;
    width: 900px;
    margin-top: 7px;
    margin-left: 15px; 
    background-color: whitesmoke;
}
.rightside{
    height: 60px;
    display: flex;
    margin-top: 30px;
    background-color:#5d5b8d;
    border: 0.5px solid lightgray;
    color: lightgray;
}
.image2{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 10px;
    border: 1px solid white;
}
.image3{
    width: 24px;
    height: 24px;
    border-radius: 40px;
    margin: 6px;
    margin-top: 10px;
}
.name2{
    margin: 17px;
    font-size: 19px;
}
.downinput{
    height: 50px;
    background-color: white;
    border: 0.5px solid ;
}
.down{
    display: flex;
    gap: 8px;
}
.enterbutton{
    height: 30px;
    width: 50px;
    background-color: #8da4f1;
    color: white;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
.enterbutton:hover {
  background-color: #2f2d52;
  color: lightgray;
}
.message{
    display: flex;
}
.msge{
    width: 550px;
    max-width: max-content;
    color: black;
    margin: 8px; 
    border-radius: 0px 10px 10px 10px;
    line-break: anywhere;
    padding: 10px;
    background-color:#8da4f1; 
} 
.background{
    height: 575px;
}


   