.maincontainer{
    height: 100vh;
    width: 100vw;
    background-color:silver;
    display: flex;
}
.leftcontainer{
    width: 450px;
    background-color: white;
    margin: 30px;
    overflow-y: scroll;
    border: 0.5px solid ;
}
.input{
    width: 300px;
    height: 30px;
    margin-left: 25px;
    margin-top: 10px;
}
.searchbutton{
    display: flex;
    justify-content: space-between;
}
.button{
    height: 30px;
    margin-top: 13px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.button:hover {
    /* opacity: 0.1; */
    background-color: purple;
    color: white;
}
.search{
    margin: 10px;
    background-color: white;
}
.rightcontainer{
    /* width: 1000px; */
    height: 575px;
    border: 0.5px solid ;
    overflow-y: scroll;
    /* background-color:; */
}
.leftsmallcontainer{
   height: 60px;
   display: flex;
}
.display{
    display: flex;
}
.horizontall{
    background: 'lime';
    color: 'lime';
    border-color: 'lime';
    height: '3px',
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 10px;
}
.name{
    margin: 20px;
    font-size: 18px;
}
.rightinput{
    height: 30px;
    width: 900px;
    margin-top: 7px;
    margin-left: 15px; 
     border: 0.5px solid ;
    /* width: 200px;
    height: 50px; */
    /* background-color: white; */
}
.rightside{
    background-color: whitesmoke;
    height: 60px;
    display: flex;
    margin-top: 30px;
    border: 0.5px solid ;
}
.image2{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 10px;
}
.image3{
    width: 24px;
    height: 24px;
    border-radius: 40px;
    margin: 6px;
    margin-top: 10px;
}
.name2{
    margin: 17px;
    font-size: 17px;
}
.downinput{
    height: 50px;
    background-color: whitesmoke;
    border: 0.5px solid ;
}
.down{
    display: flex;
    gap: 10px;
}
.enterbutton{
    height: 30px;
    background-color: black;
    color: white;
    margin-top: 8px;
    border-radius: 20px;
    margin-right: 10px;
}
.enterbutton:hover {
    background-color:blue;
}
.message{
    width: 550px;
    background-color:rgb(185, 230, 185);
    display: flex;
    margin: 10px;
    /* margin-right: 450px; */
    border-radius: 10px;
}
.msge{
    margin: 8px;
    line-break: anywhere;
}
.background{
    height: 575px;
}


   